body{

  margin-top:10px;
  margin-right:350px;
  
  margin-left:350px;
   color:black;
  background-Color:lightblue;
  

}

h1{
  color:Black; 
  color:Black; background-Color:yellow;
  text-decoration: underline;
  text-align: center;
  
}